    <footer>
      <div class="article-meta cf">
        <p id="article-comments">
          <span class="head">Comments</span>
          <span class="body">
            <%= link_to "#{article.comments.count} Comments", "#comments-list", title: "Comments about #{article.title}" %>
          </span>
        </p>
        <p id="article-categories">
          <span class="head">Categories</span>
          <span class="body">
            <%= linked_category_list(article.categories) %>
          </span>
        </p>
      </div>
    </footer>