    <header>
      <h2>
        <%= link_to article.title, article_path(article) %>
      </h2>
      <p class="article-datetime">
        <time datetime="<%= article.published_at.strftime('%Y-%m-%d %H:%M:%S%z') %>">
          <%= article.published_at.strftime('%B %d, %Y').upcase %>
        </time>
      </p>
    </header>