    <footer class="article-meta cf">
      <p>
        <span class="head">Comments</span>
        <span class="body">
          <%= link_to "#{article.comments.count} Comments", "#comments-list", title: "Comments about #{article.title}" %>
        </span>
      </p>
      <p>
        <span class="head">Categories</span>
        <span class="body">
          <%= linked_category_list(article.categories) %>
        </span>
      </p>
    </footer>