    <footer>
      <div class="article-meta">
        <p>
          <%= link_to "#{article.comments.count} Comments", "#comments-list", title: "Comments about #{article.title}" %>
        </p>
      </div>
    </footer>