<% provide(:title, 'Dashboard') %>

<h1>Dashboard</h1>

<%= link_to 'Manage Users', [:admin, :users] %>
<%= link_to 'Manage Posts', [:admin, :posts] %>
<%= link_to 'Manage Comments', [:admin, :comments] %>