    <footer>
      <div class="page-meta">
        <p>
          <%= link_to "#{page.comments.count} Comments", "#comments-list", title: "Comments about #{page.title}" %>
        </p>
      </div>
    </footer>