    <header>
      <h2>
        <%= link_to post.title, post_path(post) %>
      </h2>
      <p class="post-datetime">
        <time datetime="<%= post.created_at %>">
          <%= post.created_at.to_formatted_s(:day_and_month) %>
        </time>
      </p>
    </header>