    <header>
      <h2>
        <%= link_to post.title, article_path(post) %>
      </h2>
      <p class="post-datetime">
        <time datetime="<%= post.published_at %>">
          <%= post.published_at.strftime('%B %d, %Y').upcase %>
        </time>
      </p>
    </header>