    <footer>
      <div class="post-meta">
        <p>
          <%= link_to "#{post.comments.count} Comments", "#comments-list", title: "Comments about #{post.title}" %>
        </p>
      </div>
    </footer>