<% provide(:title, 'All Posts') %>

<% @posts.each do |post| %>
  <div class="post">

    <%= render 'post_header' %>
    
    <div class="post-content">
      <%= truncate_html(post.content, length: 500, omission: ' ... ' + (link_to 'Read More',
        post_path(post))) %>
    </div>
  </div>
<% end %>
<%= paginate @posts %>