<% provide(:title, 'All Posts') %>

<% @posts.each do |post| %>
  <div class="post">
    <div class="post-header">
      <h2 class="post-title">
        <%= link_to post.title, post_path(post) %>
      </h2>
      <p class="post-datetime">
        <%= post.created_at.to_formatted_s(:long) %>
      </p>
    </div>
    <div class="post-content">
      <%= truncate_html(post.content, length: 500, omission: ' ... ' + (link_to 'Read More',
        post_path(post))) %>
    </div>
  </div>
<% end %>
<%= paginate @posts %>