<% provide(:title, @post.title) %>

<article class="post">

  <%= render partial: 'post_header', locals: { post: @post } %>

  <div class="post-content">
    <%= @post.content.html_safe %>
  </div>

  <div id="comments-list">
    <%= render @post.comments %>
  </div>

</article>