/* Mixins */
@mixin clearfix {
  *zoom : 1;

  &:before, &:after {
    display: table;
    content : "";
  }

  &:after {
    clear : both; 
  }
}

@mixin box-sizing($boxsize: border-box) {
  -webkit-box-sizing : $boxsize;
  -moz-box-sizing : $boxsize;
  -ms-box-sizing : $boxsize;
  box-sizing : $boxsize; 
}