@import 'reset';
@import 'variables';

/* Site-wide styles */
body {
  color: $base-font-color;
  font-family: $base-font-family;
}

h1 {
  font-size: 1.5em;
  margin: 1em 0;
}
h2 {
  font-size: 1.25em;
  margin-bottom: $block-padding;
}
p {
  font-size: 1.25em;
  margin-bottom: $block-padding;
}
a {
  text-decoration: none;
}