  <header>
    <%= link_to image_tag('ikumentary-logo.png'), root_path %>
    <a id="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </a>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'About', about_path %>
      <%= link_to 'Contact', contact_path %>
    </nav>
  </header>